@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$primary: #3E1700;
$secondary: #F3EBEB;
$info:#DDDDDE;

$font-family-sans-serif: "Poppins", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../src/scss/common";

