
*{
    box-sizing: border-box;
}
body{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}  


main{
    flex: 1 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.fw-medium{
    font-weight: 500;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    .icons{
        width: 30px;
    }
    width: 50px;
    height: 50px;
}


footer{
    .nav{
        .nav-item:hover{
              color: #3E1700;
              font-weight: 600;
                transition: ease-in ;
                transition-delay: 1ms;
        }
    }

}

.slick-slider{
  
    
    .slick-prev::before , .slick-next::before{
        font-family: 'slick';
        font-size: 30px;
        line-height: 1;
        opacity: .75;
        color: black !important;
        -webkit-font-smoothing: antialiased;
    }
    
    .slick-dots{
        margin-top: 25px;
    }
}

.end-icon::before{
    content: '';
    transform: rotate(180deg);
}
.login-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productinfo-image{
    width: 280px;
    height: 450px;
    margin: 12px;
}
.p-6{
    padding-top: 80px;
    padding-bottom: 80px;
}
.accordion-button:focus{
    box-shadow: none;
}
@media screen and (max-width:450px) {
    .slick-prev , .slick-next{
        display: none !important;
    }
}






